html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: black;
}
body {
  margin: 0;
}


/*Nav and Header*/
.header {
  display: flex;
  height: 64px;
  width: 100%;
  position: fixed;
  align-items: center;
  z-index: 10;
  background-color: #ffffff;

}

.header #colmar {
  font-weight: bold;
}

.header #academy {
  color: #66ccff;
  font-weight: 100;
}

.header img {
  display: flex;
  height: 50px;
  padding-left: 24px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 16px;
}


.nav span {
  display: inline-block;
  padding-right: 20px;

}

/*Hero Section*/
.herobanner {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: auto;
  z-index: 20;
  padding-top: 64px;
  background-color: #e6e6e6;

}

.heroimage {
  display: flex;
  width: 60%;
  height: auto;
  margin: 32px 40px 32px 24px;

}

.herocopybutton {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
}

.headline {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}

.subhead {
  text-align: center;
  font-weight: 200;
  font-size: 1.25rem;
}

.button {
  text-align: center;
  background-color: #000000;
  color: #ffffff;

}

















.footer {
  border-top: 1px solid #000000;
  display: block;
  align-items: center;
  width: 100%;
  align-items: center;
  z-index: 10;
  background-color: #ffffff;
}


.footernav {
  display: flex;
  align-content: flex-start;
  justify-content: flex-end;
  width: 100%;
  padding-right: 16px;
}


.footernav span {
  display: inline-block;
  padding-right: 20px;
}
