html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: black;
}
body {
  margin: 0;
}


/*Nav and Header*/
.header {
  display: flex;
  height: 4rem;
  width: 100%;
  position: fixed;
  align-items: center;
  z-index: 10;
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;

}

.header #colmar {
  font-weight: bold;
  font-size: 1.5rem;
}

.header #academy {
  color: #66ccff;
  font-weight: 100;
  font-size: 1.5rem;
}

.header img {
  display: flex;
  height: 100%;
  padding-left: 1.5rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}


.nav a {
  display: inline-block;
  padding-right: 1.25rem;


}

.nav a:hover {
  color: #66ccff;
  text-decoration: underline;
}

/*Hero Section*/


.herobanner {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: auto;
  z-index: 20;
  padding-top: 4rem;
  background-color: #cccccc;

}


.leftcolumn {
  display: block;
  width: 60%;
  height: auto;
  margin: 2rem 2.5rem 2rem 1.5rem;
  flex-shrink: 1;

}

.leftcolumn img {
  width: 100%;
  height: auto;
}

.rightcolumn {
  display: flex;
  width: 26.423rem;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  height: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  flex-shrink: 3;
}

.headline {
  width: 70%;
  text-align: left;
  font-weight:900;
  font-size: 3rem;
  flex-shrink: 3;
}

.subhead {
  width: 70%;
  text-align: left;
  font-weight: 200;
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-shrink: 3;
}

.button {
  width: 70%;
  text-align: center;
  background-color: #000000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem 2rem;
  flex-shrink: 3;

}

.button a {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  display: block;
  padding: .5rem;

}

.button:hover {
  background-color: #66ccff;
   box-shadow: 10px 10px 5px grey;
}

/*Information Overview Section*/

.information {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: auto;
  z-index: 20;
}

.information .rightcolumn{
  display: flex;
  width: 26.423rem;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  padding-top: 1rem;
  flex-shrink: 3;
}

.infodetails h1{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
}

.infodetails p {
  color: #999999;
  font-size: 1rem;
  font-weight: 400;
}

.infodetails h3 {
  padding-top: 2rem;
  color: #999999;
}

.featuredescription span {
  display: inline-block;
  padding-top: 1rem;
}


.featurebox {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;

}

.featurebox span {
  padding-bottom: .5rem;
}

.featurebox:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 5px grey;

}

.featurebox:hover span {
  color: #66ccff;
  text-decoration: underline;
}

.featureimage {
  width: 35%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.featureimage img {
  width: 100%;
  height: auto;
}

.featuredescription {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.featuredescription h1 {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

}




/*Courses Section*/


.courseoverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #cccccc;


}

.courseoverview h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 900;
}

.courses {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2rem;

}


.coursebox {
  display: flex;
  flex-basis: 30%;
  flex-direction:column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  color:

}

.coursebox img {
  display: block;
  padding-bottom: 1rem;
  overflow: hidden;
  width: 100%;
}

.coursebox h3 {
  font-size: 2rem;
  font-weight: 600;
}

.coursebox h4 {
  font-size: 1rem;
  font-weight: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.coursebox span {
  font-size: 1rem;
  font-weight: lighter;
  flex-wrap: wrap;
  vertical-align: b;
}

.coursebox:hover {
  background-color: #66ccff;
  color: #FFFFFF;
  box-shadow: 10px 10px 5px grey;
}

.coursebox span:hover {
  color: #ffffff;
}


/*Thesis Section*/

.thesis {
  display: flex;
  flex-direction: column;
align-items: center;
 width: 100%;
  height: auto;
  z-index: 20;

}

.thesis h4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 900;
}

.content {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: auto;

}

.feature {
  display: block;
  width: auto;
  height: auto;
  margin: 32px 40px 32px 24px;

}

.leftcolumn video {
  width: 100%;
  height: auto;
}

/*THESISSECTION important note - thesis boxes are .featureboxes, just like info section*/

.thesis .rightcolumn {
  display: flex;
  width: 26.423rem;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  padding-top: 1rem;
}

/* Footer Section*/



.footer {
  border-top: 1px solid #000000;
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  z-index: 10;
  background-color: #ffffff;
  white-space: nowrap;
  padding: 1rem;
}


.footernav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.footernav a {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footernav a:hover {
  color: #66ccff;
  text-decoration: underline;
}


/*--------------RESPONSIVE ELEMENTS-----------*/

@media only screen and (max-width: 535px) {

  html {
   max-width: 535px;
 }

 body {
   max-width: 535px;
 }

/*Responsive Header Elements*/

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .nav {
    justify-content: space-around;
  }

  .header span {
    display: none;
  }

  .header .logo {
    display: none;
    height: 100%;
    padding: 0;
  }


.nav .text {
    display: none;
  }

  /*hero section responsive elements*/

  .herobanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    padding-top: 4rem;
    background-color: #cccccc;

  }

  .leftcolumn {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    flex-shrink: 1;
  }
  
  .leftcolumn img {
    width: 100%;
    height: 180px;
  }

  .rightcolumn {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (min-width: 536px) {
  .nav .icon {
    display: none;
    padding-right: 1.25rem;
  }
}
