html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: black;
}
body {
  margin: 0;
}


/*Nav and Header*/
.header {
  display: flex;
  height: 4rem;
  width: 100%;
  position: fixed;
  align-items: center;
  z-index: 10;
  background-color: #ffffff;

}

.header #colmar {
  font-weight: bold;
  font-size: 1.5rem;
}

.header #academy {
  color: #66ccff;
  font-weight: 100;
  font-size: 1.5rem;
}

.header img {
  display: flex;
  height: 100%;
  padding-left: 1.5rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 1rem;
}


.nav a {
  display: inline-block;
  padding-right: 1.25rem;


}

.nav a:hover {
  color: #66ccff;
  text-decoration: underline;
}

/*Hero Section*/
.herobanner {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: auto;
  z-index: 20;
  padding-top: 4rem;
  background-color: #e6e6e6;

}

.leftcolumn {
  display: block;
  width: 60%;
  height: auto;
  margin: 2rem 2.5rem 2rem 1.5rem;

}

.leftcolumn img {
  width: 100%;
  height: auto;
}

.rightcolumn {
  display: flex;
  width: 26.423rem;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  height: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.headline {
  width: 70%;
  text-align: left;
  font-weight:900;
  font-size: 3rem;
}

.subhead {
  width: 70%;
  text-align: left;
  font-weight: 200;
  font-size: 1.25rem;
}

.button {
  width: 70%;
  text-align: center;
  background-color: #000000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem 2rem;

}

.button a {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  display: block;

}

.button:hover {
  background-color: #66ccff;
}

/*Information Overview Section*/

.information {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: auto;
  z-index: 20;
}

.information .rightcolumn{
  display: flex;
  width: 26.423rem;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.information h1{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
}

.information p {
  color: #cccccc;
  font-weight: 200;
}

.information h3 {
  padding-top: 2rem;
  color: #cccccc;
}

.information a {
  display: inline-block;
  padding-top: 1rem;
}

.information a:hover {
  color: #66ccff;
  text-decoration: underline;
  }




.featurebox {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.featureimage {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.featureimage img {
  width: 100%;
  height: auto;
}

.featuredescription {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.featuredescription h1 {
  font-size: 1.5rem;

}



/*Courses Section*/


.courseoverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.courseoverview h1 {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 3.5rem;
  font-weight: 900;
}

.courses {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}


/*Thesis Section*/

.thesis {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: auto;
  z-index: 20;

}

.feature {
  display: block;
  width: auto;
  height: auto;
  margin: 32px 40px 32px 24px;

}

.feature video {
  width: 100%;
  height: auto;
}

.examples {
  display: flex;
  width: 423px;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}









.footer {
  border-top: 1px solid #000000;
  display: block;
  align-items: center;
  width: 100%;
  align-items: center;
  z-index: 10;
  background-color: #ffffff;
}


.footernav {
  display: flex;
  align-content: flex-start;
  justify-content: flex-end;
  width: 100%;
  padding-right: 16px;
}


.footernav span {
  display: inline-block;
  padding-right: 20px;
}
